body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: kandin, sans-serif;
}

#hero p {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: kandin, sans-serif;
}

#wrapper {
        /* font-family: 'Open Sans', sans-serif; */
        font-family: kandin, sans-serif;

}